@import "tailwindcss";

:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  background-color: #09090b;
  /* Deep Zinc/Black */
  color: #fafafa;
  /* Off-white text */
  color-scheme: dark;
}

body {
  margin: 0;
  min-height: 100vh;
  background-color: #09090b;
}