# Ignore dependencies in both folders
node_modules/
client/node_modules/
server/node_modules/

# Ignore environment secrets
.env
server/.env
client/.env

# Ignore build files
dist/
client/dist/
.vite/